* {
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


h1 {
    text-align: center;
    font-weight: 100;
    color: white;
}

.list-students {
    border-collapse: collapse;
    margin: auto;
    width: 920px;
}

.list-students td {
    /* border: 1px solid #aaa; */
    padding: 5px 10px;
    text-align: center;
}

.list-students tr:nth-child(1) {
    background-color: lightpink !important;
}

.list-students tr:nth-of-type(odd) {
    background-color: lightpink;
}

.list-students tr:hover {
    background-color: lightblue;
}

nav {
    text-align: center;
}

li a,
nav a,
td a {
    color: white !important;
    display: inline-block;
    padding: 1px 10px;
    text-decoration: none;
}

nav a:hover,
td a:hover {
    text-decoration: underline;
}

.class-list {
    display: flex;
    list-style-type: none;
    margin: 5px 0;
    justify-content: center;
    padding: 0;
}

nav ul.class-list li a {
    padding: 5px 12px;
    margin: 0 2px;
    border-radius: 5px;
    background-color: lightskyblue;
    box-shadow: 2px 2px 3px skyblue;
    text-decoration: none;
}

.class-list li a:hover {
    background-color: blue;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}

.pages {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    align-items: center;
    padding: 5px;
}

.pages a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #eee;
    box-shadow: 1px 1px 5px #ccc;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;

}

.BackHome1 {
    text-align: center;
    display: none;
}

.BackHome1>a {
    padding: 3px;
    font-size: 50px;
    text-decoration: none;
    border: 1px solid black;
}

.BackHome2 {
    text-align: center;
}

/* .BackHome2>a {
    background: url(./img/pride-rainbow.gif);
    padding: 3px;
    font-size: 50px;
    text-decoration: none; */
/* background-clip: text; */
/* -webkit-background-clip: text; */
/* color: transparent; */
/* border: 5px dashed black; */
/* } */

.BackHome2>a {
    font-family: 'Kumar One Outline', cursive;
    font-size: 40px;
    text-shadow:
        0 0 5px rgba(255, 65, 65, 1),
        0 0 10px rgba(255, 65, 65, 1),
        0 0 20px rgba(255, 65, 65, 1),
        0 0 40px rgba(255, 65, 65, 1);
    animation: neon-shine 2s 1s linear infinite;
}

@keyframes neon-shine {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        color: #232323;
    }
}

.now {
    background-color: yellowgreen;
    font-size: larger;
    color: deeppink;
}

.pages a.noshow {
    border: 0px solid #eee;
    box-shadow: initial;
}

.del-msg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: lightgreen;
    margin-top: 20px;

    animation: signup-response 4s 1;
    -webkit-animation: signup-response 4s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes signup-response {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

header {
    padding: 1rem;
    box-shadow: 0 0 10px #ccc;
    /* margin-bottom: 1.5rem; */
}

header .myHeader {
    width: 800px;
    margin: auto;
    text-align: center;
}

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

/*第一欄最後列：左下*/
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

/*最後欄第一列：右上*/
tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

/*最後欄第一列：右下*/
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
td input,
td select,
select option{
    color: black;
}